<html>
<head>
<title>Hello</title>
</head>
<body>
<h1>Hello</h1>
<p id="counter-info">Counter</p><br>
<button id="skip">Skip 10</button>
<script>
	const socket = new WebSocket('ws://' + window.location.host + '/ws/counter' );

	socket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		document.getElementById('counter-info').innerText = data.number;
	};
	
	socket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};

	const button = document.getElementById('skip');
	button.addEventListener('click', function(e) {
		socket.send(JSON.stringify({'action': 'skip'}))
	});

</script>
</body>
</html>